{% extends 'blog/base.html' %}
{% load static %}
{% load my_tags %}

{% count_likes article_id as counter%}

{% block content %}
<h1>{{article.name}}</h1>

{% if article.photo %}
<p><img class="img-article-left" src="{{article.photo.url}}"></p>
{% endif %}

{{article.content|linebreaks}}

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'like' article.pk %}">
    {% csrf_token %}
    <div>
        <p class="link-read-post">
            <input type="hidden" name="text" value="{{ request.path }}">
            <input type="hidden" name="article_id" value="{{ article.id }}">
            <button style="background: transparent; border: none; box-shadow: none;" type="submit">
                {%if not is_like %}
                <span><img src="{% static 'blog/images/like.png' %}"> : {{ count_of_likes }}</span>
                {% else %}
                <span><img class="like" src="{% static 'blog/images/like.png' %}"> : {{ count_of_likes }}</span>
                {% endif %}
            </button>
        </p>
    </div>
</form>
{% else %}
    <p class="link-read-post"><img src="{% static 'blog/images/like.png' %}">: {{count_of_likes}}</p>
{% endif %}


{% endblock %}
