{% extends 'blog/base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
<h1>{{article.name}}</h1>

{% if article.photo %}
<p><img class="img-article-left" src="{{article.photo.url}}"></p>
{% endif %}

{{article.content|linebreaks}}

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'add_like' article.pk %}">
    {% csrf_token %}
    <div>
        <p class="link-read-post">
            <button style="background: transparent; border: none; box-shadow: none;" type="submit">
                <span><img src="{% static 'blog/images/like.png' %}"> : {{ count_of_likes }}</span>
            </button>

        </p>
    </div>
</form>
{% else %}
    <p class="link-read-post"><img src="{% static 'blog/images/like.png' %}">: {{count_of_likes}}</p>
{% endif %}

{% if request.user.is_authenticated %}
<form method="post" action="{% url 'favorite' article.pk %}">
    {% csrf_token %}
    <div>
        <p class="link-read-post">
            <button style="background: transparent; border: none; box-shadow: none;" type="submit">
                <span><img src="{% static 'blog/images/favourite.png' %}"></span>
            </button>

        </p>
    </div>
</form>
{% else %}
    <p class="link-read-post"><img src="{% static 'blog/images/favourite.png' %}"></p>
{% endif %}


{% endblock %}
